body,
p,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    font-size: 14x;
    text-decoration: none;
    color: inherit;
}

[v-cloak] {
    display: none;
}

.container {
    padding: 20px;
    margin: 40px 20px;
    border: 1px solid #eaeaea;
    min-width: 960px;
}