.row {
    height: 40px;
    max-width: 340px;
    margin: 0 auto;
    line-height: 40px;
    color: #666;
    span.left {
        display: inline-block;
        min-width: 60px;
        max-width: 100px;
        text-align: right;
        margin-right: 10px;
    }
    input.right {
        display: inline-block;
        border-radius: 2px;
        padding: 0 6px;
        border: 1px solid #ccc;
        height: 30px;
        outline: none;
        box-sizing: border-box;
    }
    input.right.warn {
        border-color: red;
    }
}