.modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    .modalDialog {
        width: 350px;
        margin: 0 auto;
        transform: translateY(50%);
        background: white;
        border-radius: 5px;
        .modalHead {
            height: 40px;
            padding-left: 20px;
            color: white;
            line-height: 40px;
            font-size: 16px;
            background: #28AEE2;
            border-radius: 5px 5px 0 0;
        }
        .modalContent {
            padding: 20px;
            height: 180px;
            width: 100%;
            box-sizing: border-box;
        }
        .modalBottom {
            padding: 10px;
        }
    }
}