@import "var";
.optionButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6px;
    .btn {
        outline: none;
        border: 0;
        display: block;
        padding: 6px 10px;
        background: #ccc;
        color: white;
        border-radius: 3px;
        font-size: 13px;
        margin: 0 4px;
        cursor: pointer;
    }
    .btn.blue {
        background: $blue;
        ;
    }
    .btn.red {
        background: $red;
    }
}

.delBtn,
.editBtn {
    border: 0;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: $red;
    cursor: pointer;
    user-select: none; // 无法选中文字
    outline: none;
}

.editBtn {
    background-color: $blue;
}

.delBtn::selection,
.editBtn::selection {
    background-color: #5a5a5a;
}

.greenBtn {
    background: $green;
    border: 0px;
    color: white;
    padding: 2px 6px;
    margin-left: 10px;
    border-radius: 2px;
    outline: none;
}