.table,
.table th,
.table td {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
}

.table {
    color: #333;
    font-size: 14px;
    width: 100%;
    border: 1px solid #eaeaea;
    .tr.active {
        background: red;
    }
    th {
        background: #eaeaea;
        border: 1px solid #eaeaea;
        height: 33px;
        font-size: 15px;
        color: #666;
        font-weight: normal;
        border-right: 1px solid white;
        &:last-child {
            border-right-color: #eaeaea;
        }
    }
    td {
        padding: 3px 6px;
        vertical-align: middle;
        text-align: center;
    }
}