.listItem{
	height:33px;
	line-height: 33px;
}
.btn{
	font-size:13px;
	background-color: #ffa1a1;
	color:white;
	border-radius: 5px;
	display: inline-block;
	padding:2px 8px;
	height:20px;
	line-height: 20px;
	margin-left: 10px;
	margin-left: 10px;
	cursor: pointer;
}
.btn:active{
	border:1px solid #ffa1a1;
	font-size: 12px;
	box-shadow: 0 0 5px 4px #ff9696 inset;
	
}