  <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>component</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/littleDemo.css">
	<script src='lib/vue-2.4.2.js'></script>
	<script src='lib/vue-concise-slider.js'></script>
</head>
<body>
	<div ><a class="backBtn" href="/">返回</a></div>
<div id="app" v-cloak class="container">

	<transition name="fade">     
		<div class="modal" v-show="addShow"> <!-- add Modal -->
			<div class="modalDialog">			
				<div class="modalHead">新增</div>
				<div class="modalContent">			
						<p class="row"><span class="left">name :</span> <input class="right" v-model.trim="newPerson.name" type="text"> </p>
						<p class="row"><span class="left">age :</span> <input class="right"  v-model.number ="newPerson.age" type="text"> </p>
						<p class="row"><span class="left">sex :</span> <input class="right"  v-model="newPerson.sex" type="text"> </p>
				</div>
				<div class="modalBottom">
					<div class="optionButton">
						<button id="add" class="btn blue" @click="addPerson">确定</button>
						<button class="btn blue" @click="addShow=false">取消</button> 
					</div>
				</div>
			</div>
		</div>  <!-- add Modal--End -->
	</transition>
	<div class="optionButton">
		<button id="add" class="btn" @click="addShow=true">新增</button>
		<button class="btn blue" @click="save"> 保存</button> 
		<button class="btn red" @click="delAll"> 删除全部</button> 
	</div>
	<table class='table'>
		<tr>
			<th >name</th>
			<th >age</th>
			<th >sex</th>
			<th >option</th>
		</tr>
		<template v-if="tableData.length>0">
			<tr v-for='(value, key) in tableData'   >
				<td>{{ value.name }}</td>
				<td>{{ value.age }}</td>
				<td>{{ value.sex }}</td>
				<td><button unselectable="on" class="delBtn" v-on:click="delThis(key)">del</button></td>
			</tr>
		</template>
		<template v-else>
			<tr height="300">
				<td colspan="4">暂无数据</td>
			</tr>			
		</template>
	</table>
</div>



<div id="slide">

	<slider :pages="pages" :sliderinit="sliderinit">
      <!-- slot  -->
      </slider>
</div>

<script>
	var appData = {
		tableData:[],
		newPerson:{
			name:'',
			age:'',
			sex:'',
		},
		addShow:false,
	}
	var app = new Vue({
		el:'#app',
		data:appData,
		methods:{
			delThis:function(key){
				if(typeof key == 'number'){
					this.tableData.splice(key,1);					
				}else{
					alert('meiyou key')
				}
			},
			addPerson:function(){
				if(this.newPerson.name==''||this.newPerson.age==''||this.newPerson.sex==''){
					alert('没有输入正确')
				}else{

				this.tableData.push(this.newPerson);
				this.newPerson = {name:'', age:'', sex:''};
				this.addShow=false;
				}
			},			
			save:function(){
				console.count('保存');
				localStorage.setItem("tableData",JSON.stringify(appData.tableData));
			},
			delAll:function () {
				console.count('delAll');
				this.tableData=[];
			}
		},
		created:function(){
			if(localStorage.tableData){				
				this.tableData = JSON.parse(localStorage.tableData);
			}
		},
		updated:function(){ // 数据更新后保存到localStroage
			console.count('updated');
			localStorage.setItem("tableData",JSON.stringify(appData.tableData));
		}
	})	


	import slider from 'vue-concise-slider'// import slider components
	
	var slideApp = new Vue({
		el:"#slide",
		components: {
		    'component-a': 'vue-concise-slider',
		    'component-b': ComponentB
		},
		data:{
			pages:[
                {
                  html: 'slide1',
                  style:{
                   'background': '#1bbc9b'
                  }
                },
                {
                 html: 'slide2',
                 style:{
                    background:'#4bbfc3'
                  }
                },
                {
                  html: 'slide3',
                  style:{
                    background:'#333'
                  },
                }
              ],
              //滑动配置[obj]
              sliderinit: {
                currentPage: 0,//当前页码
                thresholdDistance: 100,//滑动判定距离
                thresholdTime: 300,//滑动判定时间
                loop:true,//循环滚动
                infinite:1,//无限滚动前后遍历数
                slidesToScroll:1,//每次滑动项数
                direction:'horizontal',//方向设置
                autoplay:0,//自动播放
              }

		},
		method:{

		}
	})

	



</script>	
</body>
</html>